body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to left bottom, #444444, #333333, #000000);
    color: gold;
}



.navbar {
    background-image: linear-gradient(to left bottom, #444444, #333333, #000000);
}