body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
    color: gold;
}

li{
    color: gold;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to left bottom, #444444, #333333, #000000);
    color: gold;
}

.navbar {
    background-image: linear-gradient(to left bottom, #444444, #333333, #000000);
}

.row-content{
    padding: 10px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

#Cap-ref {
    padding: 0px;
}

.site-footer {
    background-image: linear-gradient(to left bottom, #444444, #333333, #000000);
    color: gold;
    padding: 20px 0;
}

p {
    color: gold;
}